<h3>Welcome Procrastinator!</h3>
<p>
  Need a bouquet, and need it fast?  Save time and face by using <strong>Bouquet It and Be Done</strong>.  In two easy steps, you would have made someone's day, in just the right way.
</p>
<p>
  <strong>Step 1:</strong> Pick a bouquet or bud that suits your needs.  We have it all!  Whether you're looking for classic roses, liberating wildflowers or a pile of stinkweeds, you'll find it here.  And if you'd like to make a simple statement, consider our single bud arrangements, where less is definitely more.
</p>
<p>
  <strong>Step 2:</strong> Submit the lucky recipient's email address and your payment information, and we'll take care of the rest.
</p>
<p>
  That's it!  Your hard work is done.  The giftee will receive your thoughtful selection same day!
</p>
