<h1>Orders Directory</h1>
<divclass='row']]>
  <divclass='col-lg-2']]>
    <h4>All Orders</h4>
    <ul>
      <li>Orders go here</li>
    </ul>
  </div>
  <divclass='col-lg-10']]>
    Order View Goes Here
  </div>
</div>